<h2>Edit Samples</h2>

<%= render "form.html", Map.put(assigns, :action, litering_samples_path(@conn, :update, @samples)) %>

<span><%= link "Back", to: litering_samples_path(@conn, :index) %></span>
